<h1>PRINT</h1>
<hr/>

<% @pages.each do |page| %>
  <div><%= raw page.html %></div>
  <div><h2><%= page.header %></h2></div>
  <div><%= page.body %></div>
  <div><%= page.footer %></div>
  <%= link_to 'Show', page %>
  <%= link_to 'Edit', edit_page_path(page) %>
  <%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br>

<%#= link_to 'New Page', new_page_path %>
